@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Pacifico&family=Sriracha&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Pacifico&family=Sriracha&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.spin {
  animation: spin 40s linear infinite;
}

/* smooth scrolling */
html {
  scroll-behavior: smooth;
}

/* Form Styling and animation */
@keyframes shake {
  0%, 100% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  75% { transform: translateX(5px); }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.animate-shake {
  animation: shake 0.3s ease-in-out;
}

.animate-fadeIn {
  animation: fadeIn 0.5s ease-in-out;
}
